@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
	/* Colors */
	--bg-gradient-violet: hsl(273, 75%, 66%);
	--bg-gradient-blue: hsl(240, 73%, 65%);
	--text-desaturated: hsl(238, 29%, 16%);
	--text-soft-orange: hsl(14, 88%, 65%);
	--text-very-dark-gray: hsl(237, 12%, 33%);
	--text-dark-gray: hsl(240, 6%, 50%);
	--divider-light-gray: hsl(240, 5%, 91%);

	/* Typography */
	--large-title: 29px;
	--small-title: 14px;
	--body-copy: 12px;
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kumbh Sans", sans-serif;
	min-height: fit-content;
}

h1 {
	font-size: var(--large-title);
	font-weight: 700;
	color: var(--text-very-dark-gray);
}

h2 {
	font-size: var(--small-title);
	transition: all 0.1s ease-out;
	cursor: pointer;
	font-weight: 400;
	color: var(--text-desaturated);
}

h2:hover {
	color: var(--text-soft-orange);
}

p {
	font-size: var(--body-copy);
	color: var(--text-dark-gray);
	display: none;
}

hr {
	color: var(--divider-light-gray);
	width: 90%;
	opacity: 25%;
}

.bg {
	background-image: linear-gradient(
		var(--bg-gradient-violet),
		var(--bg-gradient-blue)
	);
	height: 100%;
	width: 100%;
	position: fixed;
}

.card-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	border-radius: 25px;
	width: 75%;
	height: 70%;
	margin-top: 9rem;
	filter: drop-shadow(0 1rem 0.8rem rgba(0, 0, 0, 0.33));
}

.main-container {
	display: flex;
	flex-direction: column;
	border: 1px solid red;
}

.illustration-container {
	display: flex;
	flex-direction: column;
	border: 1px solid red;
}

.illustration {
	width: min(50vw, 25rem);
	margin-top: -10rem;
}

.illustration-bg {
	width: min(50vw, 25rem);
	margin-top: -30%;
}
