@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

:root {
	/* Colors */
	--bg-gradient-violet: hsl(273, 75%, 66%);
	--bg-gradient-blue: hsl(240, 73%, 65%);
	--text-desaturated: hsl(238, 29%, 16%);
	--text-soft-orange: hsl(14, 88%, 65%);
	--text-very-dark-gray: hsl(237, 12%, 33%);
	--text-dark-gray: hsl(240, 6%, 50%);
	--divider-light-gray: hsl(240, 5%, 91%);

	/* Typography */
	--large-title: 32px;
	--small-title: 14px;
	--body-copy: 12px;
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kumbh Sans", sans-serif;
	min-height: fit-content;
	user-select: none;
}

html {
	height: 100%;
	width: 100%;
	min-height: 820px;
	background-image: linear-gradient(
		var(--bg-gradient-violet),
		var(--bg-gradient-blue)
	);
	background-size: 100%;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Divider */

hr {
	color: var(--divider-light-gray);
	width: 90%;
	opacity: 33%;
	margin-left: 1rem;
}

/* Background */

.bg {
	/* height: 100vh;
	width: 100vw;
	background-image: linear-gradient(
		var(--bg-gradient-violet),
		var(--bg-gradient-blue)
	);
	background-size: 100%; */
}

/* Card */

.card-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	border-radius: 25px;
	width: min(95vw, 24rem);
	margin-top: 33%;
	filter: drop-shadow(0 1rem 0.8rem rgba(0, 0, 0, 0.33));
}

.main-container {
	margin: 1rem 1rem 3.5rem 1rem;
}

.title {
	font-size: var(--large-title);
	font-weight: 700;
	color: var(--text-very-dark-gray);
	padding-bottom: 1rem;
	text-align: center;
}

.question {
	font-size: var(--small-title);
	transition: all 0.1s ease-out;
	cursor: pointer;
	font-weight: 300;
	color: var(--text-desaturated);
	padding: 1rem 1rem 0.6rem 1rem;
}

.question:hover {
	color: var(--text-soft-orange);
}

.question:after {
	content: url("../images/icon-arrow-down.svg");
	float: right;
	margin-left: 2rem;
	transition: all 0.2s ease-in-out;
}

.active {
	font-weight: 700;
}

.active:after {
	content: url("../images/icon-arrow-down.svg");
	transform: rotate(180deg);
}

.answer {
	font-size: var(--body-copy);
	color: var(--text-dark-gray);
	/* display: none; */
	padding: 0rem 1rem 0rem 1rem;
	margin-bottom: 1rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.illustration-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.illustration-mobile {
	width: min(75vw, 14rem);
	margin-top: -6.3rem;
}

.illustration-desktop {
	display: none;
}

.illustration-bg-mobile {
	width: min(75vw, 14rem);
	margin-top: -30%;
}

.illustration-bg-desktop {
	display: none;
}

.box {
	display: none;
}

/* Desktop */
@media screen and (min-width: 1200px) {
	/* Box */
	.box-container {
		position: relative;
		width: min(80vw, 60rem);
		height: min(60vh, 32rem);
	}

	/* Card */
	.card-container {
		overflow: hidden;
		display: flex;
		padding-bottom: 2rem;
		flex-direction: row;
		width: min(80vw, 60rem);
		height: min(70vh, 33rem);
		margin-top: 10%;
	}

	.main-container {
		padding: 0 4.5rem;
	}

	.title {
		text-align: left;
		margin: 3rem 1rem 1rem 1rem;
	}

	.illustration-container {
		/* margin-bottom: -4rem; */
		margin-left: -5rem;
		flex-direction: row;
	}

	.illustration-mobile {
		display: none;
	}

	.illustration-desktop {
		display: block;
		width: min(75vw, 29rem);
	}

	.illustration-bg-mobile {
		display: none;
	}

	.illustration-bg-desktop {
		overflow: hidden;
		display: block;
		width: 48rem;
		margin-left: -48.5rem;
		margin-top: -5rem;
	}

	.box {
		display: block;
		position: absolute;
		top: 13rem;
		left: -7rem;
		z-index: 99;
		filter: drop-shadow(0 1rem 0.8rem rgba(0, 0, 0, 0.5));
	}
}
